<div *ngIf='posts'>
  <h1 style="color: #258dc8">Posts</h1>
  <div *ngFor="let post of posts" class="list-group list-group-flush">
    <app-post-list-item [currentPost]="post"></app-post-list-item>
  </div>
</div>